* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;

  color: white;
}

:root {
  /* 62.5% do tamanho padrão natural user agent, que é de 16px */
  font-size: 62.5%;
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Nunito", sans-serif;
}
